@import url(https://fonts.bunny.net/css?family=fira-mono:400,500,700|inter:100,200,300,400,500,600,700,800,900|manrope:200,300,400,500,600,700,800);

html {
  --background: #0e0f12;

  --container: #1a1d21;
  --container-sec: #121417;
  --container-ter: #202226;
  --container-qua: #40444a;
  --text: #d6d6d6;
  --accent-hue: 255;
  --accent: hsl(var(--accent-hue), 100%, 60%);
  --accent-dark: hsl(var(--accent-hue), 100%, 40%);
  --font: "Inter", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --font-size: 16px;

  --bg-primary: hsl(216, 98%, 52%);
  --bg-primary-hover: hsl(216, 98%, 40%);
  --bg-error: hsl(354, 70%, 54%);
  --bg-error-hover: hsl(354, 70%, 45%);
  --bg-warning: hsl(45, 100%, 51%);
  --bg-warning-hover: hsl(45, 100%, 41%);
  --bg-success: hsl(204, 85%, 35%);
  --bg-success-hover: hsl(204, 92%, 23%);

  /* hero */

  --hero-title-size: 50px;
  --hero-subtitle-size: 20px;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: var(--font-size);
  overflow-x: hidden;
  height: 100%;
}

italic {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
}
b,
.accent {
  color: var(--accent);
}

.icon {
  background-color: var(--bg-success);
  margin: 0;
  border-radius: 6px;
  padding: 0.5em 1em;
  transition: 0.2s ease-in-out;
  user-select: none;
}
.icon:hover {
  text-decoration: none !important;
  background-color: var(--bg-success-hover);
}
.icon i {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  resize: none;
  outline: none;
  border: none;
  width: 400px;
  background-color: var(--container-qua);
  margin: 5px;
  color: var(--text);
  padding: 10px;
  border-radius: 6px;
  font-family: var(--font-mono);
  font-size: var(--font-size);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* fade in */
.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-out;
  z-index: 1000;
  background-color: var(--background);
  animation: fade-out 0.8s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.transition img {
  width: 60px;
  border-radius: 10px;
}
@keyframes fade-out {
  0%,
  10%,
  20%,
  30%,
  40%,
  50% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 1.5;
    visibility: hidden;
  }
}

/*  */

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    circle,
    rgb(144, 124, 255) 0%,
    rgb(87, 188, 255) 100%
  );
  mask-image: radial-gradient(rgba(0, 0, 0, 1), transparent 70%);
  opacity: 0.1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -2;

  background-image: url(/img/bg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.hero .hero-title {
  font-size: var(--hero-title-size);
  line-height: calc(var(--hero-title-size) * 1.2);
  text-align: center;
  font-weight: 900;
  width: 700px;
  color: #fff;
  padding-bottom: 20px;
  text-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}
.hero .hero-subtitle {
  font-size: var(--hero-subtitle-size);
  line-height: calc(var(--hero-subtitle-size) * 1.2);
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
}

.hero .hero-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* buttons */

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #ddd;
}

.button {
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: var(--accent-dark);
  color: #ffffff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  font-family: var(--font);
  font-size: var(--hero-subtitle-size);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

/* sections */

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

section.section {
  background-color: var(--container-sec);
  padding: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
section.section:nth-child(even) {
  background-color: var(--container);
}

section.section.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.section .section-title {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--accent);
  margin-bottom: 20px;
  width: fit-content;
}

/* cards */

.card {
  background-color: var(--container-ter);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.card.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .card-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--accent);
  margin-bottom: 20px;
  width: fit-content;
}

.card .card-title img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 1rem;
}
.card .card-title img.rounded {
  border-radius: 50%;
}

.card .card-footer {
  border-top: 2px solid var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
}

.card .card-splitter {
  height: 10px;
}

.card .card-thumbnail {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}
.card .card-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* style stuff */

.gap-15 {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* tags */

.tag {
  background-color: #73d572;
  width: 75px;
  height: 25px;
  margin-left: 5px;
  flex-shrink: 0;
  border-radius: 6.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: large;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  user-select: none;
}

/* other */

body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}