html, body {
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--shadow);
}

:root {
  --shadow: (
    @for $i from 1 through var(--s) {
      #{$i + px} #{$i + px} #fff
    }
  );
}
