@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    25% {
        transform: translateX(-12.5%) translateZ(0) scaleY(0.75);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1);
    }
    75% {
        transform: translateX(-37.5%) translateZ(0) scaleY(0.75);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377B 20%, #27273C 80%);
    -webkit-filter: hue-rotate(275deg); /* Safari 6.0 - 9.0 */
    filter: hue-rotate(275deg);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 10s linear infinite; /* Adjust the animation duration here */
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 20s linear infinite; /* Adjust the animation duration here */
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 30s linear infinite; /* Adjust the animation duration here */
}
